i {
  font-size: 2.5rem;
}

.custom-logo-size {
  height: 3rem;
}

.custom-hamburger-one {
  width: 3rem;
  height: 6px;
  background-color: rgb(33, 37, 41);
  margin: 3px 0;
  border-radius: 6cqmax;
}

.custom-hamburger-two {
  width: 2.2rem;
  height: 6px;
  background-color: rgb(33, 37, 41);
  margin: 3px 0px 3px auto;
  border-radius: 6px;
}

.custom-hamburger-three {
  width: 1.4rem;
  height: 6px;
  background-color: rgb(33, 37, 41);
  margin: 3px 0px 3px auto;
  border-radius: 6px;
}

.custom-bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/card1.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon {
  display: none;
}

button {
  background-color: black;
  color: white;
}

button:focus {
  background-color: red;
  color: black;

  .icon {
    display: inline-block;
  }
}

.card:hover {
  scale: 1.04;
}

.card {
  transition: 0.5s;
}

.custom-btn-pagination {
  display: none;
}

@media (max-width: 767px) {
  .custom-btn-pagination {
    display: block;
  }

  .card-col {
    display: none;
  }

  .show-cards {
    display: block;
  }
}

.custom-btn-pagination-design {
  background-color: #dc3545;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.custom-btn-pagination-design:hover {
  background-color: #bb2d3b;
  color: white;
}
