i {
  font-size: 2.5rem;
}

.custom-logo-size {
  height: 4.5rem;
}

.custom-hamburger-one {
  width: 3rem;
  height: 6px;
  background-color: rgb(33, 37, 41);
  margin: 3px 0;
  border-radius: 6cqmax;
}

.custom-hamburger-two {
  width: 2.2rem;
  height: 6px;
  background-color: rgb(33, 37, 41);
  margin: 3px 0px 3px auto;
  border-radius: 6px;
}

.custom-hamburger-three {
  width: 1.4rem;
  height: 6px;
  background-color: rgb(33, 37, 41);
  margin: 3px 0px 3px auto;
  border-radius: 6px;
}

.custom-bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/StockSnap_DWLWL9USBG.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
