i {
  font-size: 2.5rem;
}

i:hover {
  cursor: pointer;
}

.custom-logo-size {
  height: 4rem;
}

.custom-hamburger-one {
  width: 3rem;
  height: 6px;
  background-color: rgb(33, 37, 41);
  margin: 3px 0;
  border-radius: 6cqmax;
}

.custom-hamburger-two {
  width: 2.2rem;
  height: 6px;
  background-color: rgb(33, 37, 41);
  margin: 3px 0px 3px auto;
  border-radius: 6px;
}

.custom-hamburger-three {
  width: 1.4rem;
  height: 6px;
  background-color: rgb(33, 37, 41);
  margin: 3px 0px 3px auto;
  border-radius: 6px;
}

.custom-bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("images/card6.jpg");
  background-size: cover;
  background-position: bottom;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.custom-letter-space {
  margin-right: 5px;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(10px);
    scale: -1.15;
  }

  55% {
    scale: 1.2;
  }

  60% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.display-1 span {
  display: inline-block;
  animation: wave 13s infinite;
  animation-delay: calc(0.1s * var(--index));
}

.icon {
  display: none;
}

.custom-filter-button button {
  background-color: rgb(33, 37, 41);
  color: white;
}

.custom-filter-button button:hover {
  background-color: rgb(28, 31, 34);
}

.custom-filter-button button:focus {
  background-color: red;
  color: black;

  .icon {
    display: inline-block;
  }
}

.card:hover {
  scale: 1.04;
}

.card {
  transition: 0.5s;
}

.custom-btn-pagination {
  display: none;
}

@media (max-width: 767px) {
  .custom-btn-pagination {
    display: block;
  }

  .card-col {
    display: none;
  }

  .show-cards {
    display: block;
  }
}

.custom-btn-pagination-design {
  background-color: #dc3545;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.custom-btn-pagination-design:hover {
  background-color: #bb2d3b;
  color: white;
}

.custom-header-shadow {
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.3);
}

/* FORM */

.custom-form-p {
  margin: 0;
}

.custom-form-radius {
  border-radius: 5px;
  border: none;
}

::placeholder,
.custom-error-message {
  font-style: italic;
}

.custom-error-message {
  display: none;
}

.custom-button-top-hidden {
  opacity: 0;
}

.custom-select-head:hover {
  cursor: pointer;
}

.custom-select-none {
  display: none;
}

.custom-select-body-hidden {
  opacity: 0;
}

.custom-select-body div:hover {
  background-color: rgb(211, 208, 208) !important;
  cursor: pointer;
}
