@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom::-webkit-scrollbar {
  height: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #000000;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #ff6f0f;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #ff8f3f;
}

/* Vertical scrollbar styles */
.scrollbar-y::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
}

.scrollbar-y::-webkit-scrollbar-track {
  background-color: #000000; /* Background color of the track */
}

.scrollbar-y::-webkit-scrollbar-thumb {
  background-color: #ff6f0f; /* Thumb color */
}

.scrollbar-y::-webkit-scrollbar-thumb:hover {
  background-color: #ff8f3f; /* Hover color for the thumb */
}

/* Loop  */
@keyframes slideAnimation {
  from {
    transform: translateX(-98%);
  }
  to {
    transform: translateX(0%);
  }
}

.looper_listInstance {
  display: flex;
  justify-content: center;
  align-items: center;
}
