@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.scrollbar-custom::-webkit-scrollbar {
  height: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #000000;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #ff6f0f;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #ff8f3f;
}
